<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Sign in with Boogle account</title>
    <link href="/static/css/style-boogle.css" rel="stylesheet">
</head>

<body>

<div id="intro">
    <center>
        <img  src="/static/img/LogoGoogle.jpg"> <br>
        <p id="text1">One account. All of Boogle.</p> <br>
        <p id="text2">Sign in with your Boogle account</p>
    </center>
</div>
<div id="mail">
    <form>
        <center>
            <img id="logoUser" src="/static/img/logoUser.png" >
        </center>
        <center>
            <input id="input" placeholder="Enter you email"/>
            <br>

             <input class="next" type="button" value="Next">
        </center>
        <a id="help" href="#">Need help?</a>
    </form>
</div>
<div id="footer">

    <center>
        <a id="crearCuenta" href="#" >Create account</a>
        <br>
       <img src="/static/img/opcionesGoogle.jpg">
    </center>

</div>
</body>

</html>